{{!-- List that contains all the boxes that display info --}}
<div id="box_container" class="grid auto-row grid-cols-1x600px lg:grid-cols-3x600px 3xl:grid-cols-4x600px 4xl:grid-cols-5x600px gap-8 justify-around px-8">

    <div id="sub_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">SUBSCRIBERS</h4>
        <p class="text-6xl body"><b class="font-normal">{{subs.number}}</b>{{subs.letter}}</p>
    </div>

    <div id="view_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">TOTAL VIEWS</h4>
        <p class="text-6xl body"><b class="font-normal">{{views.number}}</b>{{views.letter}}</p>
    </div>

    <div id="video_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">TOTAL VIDEOS</h4>
        <p class="text-6xl body"><b class="font-normal">{{vidNum.number}}</b>{{vidNum.letter}}</p>
    </div>

    <div id="date_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">CREATION DATE & TIME</h4>
        <p class="text-3xl body font-normal whitespace-nowrap mx-auto">{{date}}<br>{{time}}</p>
    </div>

    <div  id="url_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">CUSTOM URL</h4>
        <p class="text-3xl body font-normal text-center break-all mx-auto">youtube.com/<wbr>{{url}}</p>
    </div>
    
    <div id="country_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">COUNTRY</h4>
        <p class="text-6xl body">{{country}}</p>
    </div>
    
    <div id="description_box" class="box box-padding lg:col-span-3 3xl:col-span-2 4xl:col-span-3 overflow-y-auto">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">DESCRIPTION</h4>
        <p class="text-2xl body font-normal text-left">{{about}}</p>
    </div>
    
</div>
<script>
aboutText='{{about}}';
showBoxes={{showBoxes}};
</script>