<div class="h-12 bg-red-600 drop-shadow-lg flex flex-row p-3 items-center">
    <a href="/"><img src="../assets/yt_logo_mono_dark.png" alt="yt_logo_mono_dark.png" class="inline h-6"></a>
    <span class="text-white text-xl font-Poppins font-medium ml-2 mt-2">Data API v3</span>
</div>

{{!-- title and input for user --}}
<div class="bg-gray-100 shadow-inner w-full items-center pt-6 pb-3 mx-0">   
    <h1 class="text-6xl font-black font-Poppins text-black text-center my-4" >CHANNEL STATS RETRIEVER</h1>
    <hr class="mx-auto w-1/2 border-someGray border-opacity-50 border-transparent">

    <div class="max-w-screen-sm flex flex-col justify-center px-6 py-4 mx-auto my-4 ">

        {{!-- Sub-heading, telling user what to input into the form --}}
        <h4 class="text-black text-opacity-50 text-xl font-normal font-Poppins mx-auto mb-6">Please enter channel name or ID: </h4>

        {{!-- Form where user inputs name of channel, and presses button to submit search --}}
        <form action="/" method="post" class="flex flex-row mx-auto">
            <input type="text" name="channelName" class="rounded-l-full border-gray-400 text-lg font-Poppins h-12 titleWidth:w-112 w-72 border-solid border-l border-t border-b px-5" placeholder="Enter channel name or ID">
            <button type="submit" class="h-12 bg-red-600 text-white hover:bg-red-500 active:bg-red-700 rounded-r-full border-gray-400 pl-6 pr-7" id="post_button"><i class="fas fa-search fa-lg"></i></button>
        </form>

    </div>
</div>    
 
 {{!-- shows the logo and name of the found channel --}}
<div class="bg-gray-100 flex flex-row justify-center items-center p-3 mb-4 mx-auto">
        <img src="{{pic}}" alt="channel thumbnail" class="h-16 rounded-full">
        <h1 class="text-4xl text-black font-Poppins pb-1 ml-5">{{name}}</h1>
</div>

{{!-- List that contains all the boxes that display info --}}
<div id="box_container" class="grid auto-row lg:grid-cols-3x600px 3xl:grid-cols-4x600px 4xl:grid-cols-5x600px gap-8 justify-around px-8">

    <div id="sub_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">SUBSCRIBERS</h4>
        <p class="text-6xl body"><b class="font-normal">{{subs.number}}</b>{{subs.letter}}</p>
    </div>

    <div id="view_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">TOTAL VIEWS</h4>
        <p class="text-6xl body"><b class="font-normal">{{views.number}}</b>{{views.letter}}</p>
    </div>

    <div id="video_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">TOTAL VIDEOS</h4>
        <p class="text-6xl body"><b class="font-normal">{{vidNum.number}}</b>{{vidNum.letter}}</p>
    </div>

    <div id="date_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">CREATION DATE & TIME</h4>
        <p class="text-3xl body font-normal mx-auto">{{date}}<br>{{time}}</p>
    </div>

    <div  id="url_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">CUSTOM URL</h4>
        <p class="text-3xl body font-normal text-center break-words mx-auto">youtube.com/<wbr>{{url}}</p>
    </div>
    
    <div id="country_box" class="box box-padding max-h-47">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">COUNTRY</h4>
        <p class="text-6xl body">{{country}}</p>
    </div>
    
    <div id="description_box" class="box box-padding lg:col-span-3 3xl:col-span-2 4xl:col-span-3 overflow-y-auto">
        <h4 class="title text-xl text-opacity-50 mb-2 mx-auto">DESCRIPTION</h4>
        <p class="text-2xl body font-normal text-left">{{about}}</p>
    </div>
    
</div>


<style scoped>

</style>

<script>
const urlBox = document.getElementById('url_box');
const boxContainer = document.getElementById('box_container').childNodes;
const boxCont = document.getElementById('box_container').children;

console.log(boxCont)

let boxList = [];

//if(urlBox.lastElementChild.innerText === 'N/A') {
//    urlBox.lastElementChild.classList.add('text-6xl');
//    urlBox.lastElementChild.classList.remove('font-normal');
//};


for(let i=1;i<boxContainer.length;i++) {
    if(i%2 == 1) {
        console.log(boxContainer[i]);
        boxList.push(boxContainer[i]);   
    };
}

// Stores the raw data into a string
let aboutText = '{{about}}';

const aboutBox = document.getElementById('description_box').firstElementChild.lastElementChild;

aboutBox.innerText = aboutText.split('__').join('<br>');

 if(aboutBox.innerText==='N/A') {
   aboutBox.classList.add('text-6xl');
    aboutBox.classList.remove('font-normal');
} 



</script>